*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to right,#e2e2e2,#f513d7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    background: white;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 5px 15p #00000059;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.container span{
    font-size: 13px;
}
.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.container button{
    background: #f513d7;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}
.container button.hidden{
    background-color: transparent;
    border-color: #fff ;
    width: 50%;
    margin-left: 80px;
}
.container form{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.container input{
    background-color: rgb(207, 206, 206);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign_in{
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.active .sign_in{
    transform: translateX(100%);
}
.sign_up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.active .sign_up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0,.6s;
}
@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }50%,100%{
        opacity: 1;
        z-index: 5;
    }
}
.social-icons{
    margin: 20px 0;
}
.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}
.toggle_container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 100;
}
.container.active .toggle_container{
    transform: translateX(-100%);
    border-radius: 0 150 100px 0;
}
.toggle{
    height: 100%;
    background: linear-gradient(to right,rgb(247, 136, 237),rgb(247, 17, 178));
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.container.active .toggle{
    transform: translateX(50%);
}
.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggle_left{
    transform: translateX(-200%);
}
.container.active .toggle_left{
    transform: translateX(0);
}
.toggle_right{
    right: 0;
    transform: translateX(0);
}
.container.active .toggle_right{
    transform: translateX(200%);
}